services:
  db:
    image: postgres:13.5-alpine
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 1s
      timeout: 2s
      retries: 15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: casino
    ports:
      - 5432:5432

  migrations:
    build: ./server
    entrypoint: npm run db:migrate
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
    depends_on:
      db:
        condition: service_healthy

  wallet-api:
    build: ./server
    profiles:
      - api
    environment:
      PORT: 8000
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
      CORS_HOSTS: http://localhost:5173
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
